/* Navbar Style Code */
.nav-link{
    font-weight: bold;
}

.cover-bg {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card{
    width : 30rem;
}

.form-signin input{
    padding: 5px;
    margin: 10px;
}

.card .bi{
    width: 128px;
    height: 128px;
}
